* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
}

body {
  background: #ffffff;
}

section {
  background: white;
  padding: 20px;
  border: solid 1px black;
}

div.searchbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3ex;
  margin-bottom: 3ex;
  text-align: center;
}

div.pagination {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 150%;
}

table.results {
  width: 800px;
  font-size: 150%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td.result {
  padding-top: 1em;
  padding-bottom: 1em;
  background: white !important;
}

tr.result {
  background: white !important;
}

div.detail {
  color: #aa9700;
}

span.highlight_excerpt {
  color: #8c008c;
  font-weight: bold;
}

pre.book_title {
}

pre.content {
  font-size: 145%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

ul.books {
  list-style-type: none;
  margin: auto;
  padding-left: 0;
  margin-left: 0;
}

li.book {
  font-size: 100%;
  margin: auto;
  margin-bottom: -1.1em;
  margin-top: -1.1em;
}

div.toolbar {
  height: 10%;
  position: relative;
}

div.label_for_goto {
  position: absolute;
  width: 10em;
  top: 25%;
  left: 5px;
  height: 2em;
  margin-top: -1em;
}

div.label_for_read_page {
  position: absolute;
  width: 10em;
  top: 25%;
  left: 20em;
  height: 2em;
  margin-top: -1em;
}

div.goto_page {
  text-align: left;
  position: absolute;
  width: 10em;
  top: 55%;
  left: 10px;
  height: 2em;
  margin-top: -1em;
}

div.goto_item {
  text-align: left; 
  position: absolute;
  width: 10em;
  top: 55%;
  left: 10em;
  height: 2em;
  margin-top: -1em;
}

div.back_button {
  text-align: left; 
  position: absolute;
  width: 3em;
  top: 60%;
  left: 20em;
  height: 2em;
  margin-top: -1em;
}

div.next_button {
  text-align: left; 
  position: absolute;
  width: 3em;
  top: 60%;
  left: 23em;
  height: 2em;
  margin-top: -1em;
}

div.label_for_compare {
  position: absolute;
  width: 10em;
  top: 25%;
  left: 28em;
  height: 2em;
  margin-top: -1em;
}

div.compare_form {
  text-align: left; 
  position: absolute;
  width: 15em;
  top: 51%;
  left: 28em;
  height: 2em;
  margin-top: -1em;
}

h2.book_title {
  text-align: center;
  margin-bottom: -0.3em;
  color: blue;
  font-size: 170%;
}

span.page_info {
  text-align: left;
  float: left;
  margin-left: 2em;
  font-size: 140%;
  color: green;
}

span.item_info {
  float: right;
  text-align: right;
  margin-right: 2em;
  font-size: 140%;
  color: green;
}

a.book_title {
  text-decoration: none;
  color: black;
}

a.book_title:hover {
  color: blue;
}

a.title_link {
  color: blue;
}

a.title_link:visited {
  color: #0000bb;
}

div.left_title {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}

div.right_title {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}

div.turn_page_bar {
  text-align: center;
  padding-top: 0.5em;
}

span.turn_left {
  text-align: left;
}

span.turn_right {
  text-align: right;
}

div.position {
  height: 1.5em;
}

div.flash {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 30em;
  font-size: 120%;
}

div.results_info {
  text-align: center;
  color: #a52a2a;
  font-size: 150%;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: solid 1px black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; 
  border-radius: 10px;
}

table.results_info {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-bottom: 0.5em;
}

table.results_info tr td{
  background: white !important;
  text-align: center;
}

table.results_info tr th{
  background: white !important;
  text-align: center;
}
