html, body{
  height:100%;width:100%;
  margin:0;padding:0;overflow: hidden;
}

#splitterContainer {/* Main splitter element */
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

#leftPane{
  float: left;
  width: 20%;
  height: 100%;
  border-top: solid 1px #9cbdff;
  border-bottom: solid 1px #9cbdff;
  overflow: auto;
}

#rightPane{	/*Contains toolbar and horizontal splitter*/
  float: right;
  width: 80%;
  height: 100%;
  border-top: solid 1px #9cbdff;
  border-bottom: solid 1px #9cbdff;
}

#rightTopPane{/*Top nested in horizontal splitter */
  width:100%;
  height:100%;
  overflow:auto;
}

#rightBottomPane{/*Bottom nested in horizontal splitter */
  width:0%;
  height:0%;
  overflow:auto;
}
/* Splitbar styles; these are the default class names and required styles */
.splitbarV {
  float:left;width:6px;height:100%;
  line-height:0px;font-size:0px;
  border-left:solid 1px #9cbdff;border-right:solid 1px #9cbdff;
  background:#cbe1fb url(/images/panev.gif) 0% 50%;
}

.splitbarH {
  height:6px;text-align:left;line-height:0px;font-size:0px;
  border-top:solid 1px #9cbdff;border-bottom:solid 1px #9cbdff;
  background:#cbe1fb url(/images/paneh.gif) 50% 0%;
}

.splitbuttonV{
  margin-top:-41px;margin-left:-4px;top:50%;position:relative;
  height:83px;width:10px;
  background:transparent url(/images/panevc.gif) 10px 50%;
}

.splitbuttonV.invert{
  margin-left:0px;background:transparent url(/images/panevc.gif) 0px 50%;
}

.splitbuttonH{
  margin-left:-41px;left:50%;position:relative;
  height:10px !important;width:83px;
  background:transparent url(/images/panehc.gif) 50% 0px;
}

.splitbuttonH.invert{
  margin-top:-4px;background:transparent url(/images/panehc.gif) 50% -10px;
}

.splitbarV.working,.splitbarH.working,.splitbuttonV.working,.splitbuttonH.working{
  -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
}
