<% if !@books.nil? %>
  <% @books.each do |book| %>
    <li class="book" <%="style=background:#ccc" if book.volume.to_i == @volume.to_i%>>
      <pre class="book_title"><%= link_to(' '+i_to_thai(book.volume)+'.'+book.title.strip,
                                          read_path(:language => book.language,
                                                    :volume => book.volume,
                                                    :number => 0),
                                          :class => 'book_title') %></pre>
    </li>
  <% end %>
<% end %>
