<p class="content">
<% if !content.nil? and !@keywords.nil? %>
<%=highlight(content, @keywords.split.each { |keyword| keyword.gsub('+',' ') })%>
<% elsif !content.nil? and @keywords.nil? %>
<%= content %>
<% end %>
</p>
