<script type="text/javascript">
  function read_book() {
    var lang = document.getElementById('search_language');
    window.open('/read?language='+lang.value+'&volume=1&number=0');
    return true;
  }
</script>
<div class="searchbar">
  <div class="round name">โปรแกรมตรวจหาและเทียบเคียงพุทธวจน</div>
  <%= form_for(:search) do |f| %>
    <span class="field">
      <input name="read" type="button" value="อ่านพระไตรปิฎก" id="read"
             onclick="read_book();"/>
    </span>
    <span class="field">
      <%= f.select :language, 
                   [['ภาษาไทยฉบับหลวง (ไทยสยามรัฐ)','thai'],['ฉบับสยามรัฐ  (บาลีสยามรัฐ)','pali']],
                   {:selected => @language} %>
    </span>
    <span class="field">
      <%= f.search_field :keywords %>
    </span>
    <span class="actions">
      <%= f.submit "ค้นหา" %>
    </span>
  <% end %>
</div>
