<span class="turn_left">
  <%= link_to image_tag('left.png', :alt => '>>', :size => "40x40"), '#', 'ng-click' => "back(#{target});" %>
</span>
<%= raw '&nbsp;'*7 %>
<span class="turn_right">
  <%= link_to image_tag('right.png', :alt => '>>', :size => "40x40"), '#', 'ng-click' => "next(#{target});" %>
</span>
