<p id="h1" style="margin-bottom: 30px;"><a name="Android" id="Android">การใช้งานบนระบบปฏิบัติการ Android</a></p>
<p style="padding-left:10px">1.หน้าจอหลักของโปรแกรม ประกอบด้วย</p>
<p  align="center"><a name="tab"><img src="/images/manual/tab1.png" border="0" alt="" usemap="#tab"/></a>
  <map name="tab">
    <area shape="circle" coords="102,439,14" href="#tab1" alt="Venus" />
    <area shape="circle" coords="153,438,14" href="#tab2" alt="Venus" />
    <area shape="circle" coords="203,439,14" href="#tab3" alt="Venus" />
    <area shape="circle" coords="307,375,14" href="#tab4" alt="Venus" />
    <area shape="circle" coords="42,373,14" href="#tab5" alt="Venus" />
    <area shape="circle" coords="174,12,14" href="#tab6" alt="Venus" />
    <area shape="circle" coords="306,142,14" href="#tab7" alt="Venus" />
    <area shape="circle" coords="307,186,14" href="#tab8" alt="Venus" />
    <area shape="circle" coords="42,263,14" href="#tab9" alt="Venus" />
    <area shape="circle" coords="307,263,14" href="#tab10" alt="Venus" />
    <area shape="circle" coords="42,234,14" href="#tab11" alt="Venus" />
     <area shape="circle" coords="42,337,14" href="#tab12" alt="Venus" />
    <area shape="circle" coords="307,230,14" href="#tab13" alt="Venus" />
    <area shape="circle" coords="246,438,14" href="#tab13" alt="Venus" />
    <area shape="circle" coords="307,342,14" href="#tab14" alt="Venus" />
  </map>
</p>
<p>&nbsp;</p>
<p><a name="tab1"href="#tab">หมายเลข 1</a> ปุ่มแสดงเมนู เมื่อแตะปุ่มนี้จะปรากฏแถบเมนูสีขาว ซึ่งแถบเครื่องมือจะเปลี่ยนแปลงไปตามหน้าจอที่แสดงผลอยู่ขณะนั้น</p>
<p><a name="tab2"href="#tab">หมายเลข 2</a> ปุ่มสัญลักษณ์รูปบ้าน เมื่อแตะปุ่มนี้จะกลับสู่หน้าแรกของจอแสดงผลของเครื่องโทรศัพท์</p>
<p><a name="tab3"href="#tab">หมายเลข 3</a> ปุ่มย้อนกลับ เมื่อแตะปุ่มนี้ จอแแสดงข้อมูลจะย้อนกลับไปยังหน้าก่อนหน้า</p>
<p><a name="tab4"href="#tab">หมายเลข 4</a> ปุ่มเกี่ยวกับโปรแกรม เมื่อแตะปุ่มนี้จะปรากฎข้อมูล ความเป็นมาเกี่ยวกับโปรแกรมค้นหาและเทียบเคียงพุทธวจนในพระไตรปิฎก</p>
<p><a name="tab5"href="#tab">หมายเลข 5</a> ปุ่มขอบเขตของโปรแกรมค้นหาและเทียบเคียงพุทธวจนในพระไตรปิฎก</p>
<p><a name="tab6"href="#tab">หมายเลข 6</a> บอกชื่อโปรแกรม พระไตรปิฎกเล่มที่ ภาษาที่เลือกอ่าน</p>
<p><a name="tab7"href="#tab">หมายเลข 7</a> หมวดของพระไตรปิฎกที่ต้องการเลือก ซึ่งเลือกโดยการเลื่อนไปมาให้หมวดที่เลือกอยู่ตรงกลางจอ</p>
<p><a name="tab8"href="#tab">หมายเลข 8</a> ปุ่มแสดงเล่มที่ เมื่อเลือกหมวดเสร็จแล้ว ก็เลือกเล่มที่จะอ่านในพระไตรปิฎกหมวดนั้น โดยการเลื่อนไปมาเพื่อเลือกเลขที่เลือกให้เป็นสีเขียว</p>
<p><a name="tab9"href="#tab">หมายเลข 9</a> ปุ่มเลือกภาษาไทย</p>
<p><a name="tab10"href="#tab">หมายเลข 10</a> ปุ่มเลือกภาษบาลี</p>
<p><a name="tab11"href="#tab">หมายเลข 11</a> ปุ่มอ่าน เมื่อเลือกภาษาแล้วแตะปุ่มอ่าน ก็จะปรากฎหน้าจอดังรูปด้านล่าง ซึ่งประกอบไปด้วยปุ่มต่างๆ ดังนี้</p>
<div style="float: right;"><a href=#tab><b>กลับไปยังรูป</b></a></div>		
<p>&nbsp;</p>        
<p align="center">
    <a name="tab_eng">
      <img src="/images/manual/tab_read.png" border="0" alt="" usemap="#tab_eng"/>
    </a>
    <map name="tab_eng">
    <area shape="circle" coords="332,44,14" href="#A" alt="Venus" />
    <area shape="circle" coords="13,74,14" href="#B" alt="Venus" />
    <area shape="circle" coords="331,77,14" href="#C" alt="Venus" />
    <area shape="circle" coords="11,342,14" href="#D" alt="Venus" />
    <area shape="circle" coords="331,342,14" href="#E" alt="Venus" />
    </map>
</p>

<p style="padding-left:70px"><a name="A" href="#tab_eng">ตัวอักษร A</a>  ปุ่มเลือกหน้าที่ต้องการอ่าน </p>
<p style="padding-left:70px"><a name="B" href="#tab_eng">ตัวอักษร B</a>  ปุ่มแสดงเลขที่หน้าที่กำลังเปิดอยู่ </p>
<p style="padding-left:70px"><a name="C" href="#tab_eng">ตัวอักษร C</a> ปุ่มแสดงข้อทั้งหมดในหน้าที่กำลังเปิดอยู่</p>
<p style="padding-left:70px"><a name="D" href="#tab_eng">ตัวอักษร D</a>  ปุ่มย่อขยายตัวอักษรหน้าจอ </p>
<p style="padding-left:70px"><a name="E" href="#tab_eng">ตัวอักษร E</a> ปุ่มเลื่อกดูหน้า ก่อนหน้าและหน้าถัดไป </p>
<p style="padding-left:70px">นอกจากนี้ยังมีแถบเครื่องมือในหน้าจออ่านที่ซ่อนอยู่อีก การแตะปุ่มหมายเลข 1 จะทำให้เมนูปรากฎ ดังรูปด้านล่าง แต่ละปุ่มมีหน้าที่ ดังนี้ </p>
    
<p>&nbsp;</p>
      <p  align="center"><a name="tab_Th"><img src="/images/manual/tab_read2.png" border="0" alt="" usemap="#tab_Th"/></a>
        <map name="tab_Th">
          <area shape="circle" coords="13,308,14" href="#Th1" alt="Venus" />
          <area shape="circle" coords="327,308,14" href="#Th2" alt="Venus" />
          <area shape="circle" coords="14,342,14" href="#Th3" alt="Venus" />
          <area shape="circle" coords="169,411,14" href="#Th4" alt="Venus" />
          <area shape="circle" coords="327,342,14" href="#Th5" alt="Venus" />
        </map>
      </p>
<p >&nbsp;</p>

		  <p style="padding-left:70px"><a name="Th1" href="#tab_Th">ตัวอักษร ก</a>  
          ปุ่มอ่านหน้าที่ เมื่อแตะปุ่มนี้จะปรากฎหน้าจอให้เลือกหน้าที่ต้องการอ่านในหมวดนั้น แตะที่ช่องดังรูป </p>
		  <p style="padding-left:130px">(จอจะปรากฎแป้นพิมพ์) ให้กรอกเลขหน้าที่จะอ่าน </p>
		  <p style="padding-left:70px">&nbsp;</p>
		  <p align="center"><img src="/images/manual/tab6.png"/> </p>
		  <p style="padding-left:70px"><a name="Th2" href="#tab_Th">ตัวอักษร ข</a>  
          ปุ่มอ่านข้อที่ เมื่อแตะปุ่มนี้จะปรากฎหน้าจอให้เลือกข้อที่ต้องการอ่านในหมวดนั้น ให้กรอกตัวเลขที่จะอ่าน </p>
		  <p style="padding-left:130px">เช่นเดียวกับปุ่มอ่านหน้าที่ </p>
			<p style="padding-left:70px"><a name="Th3" href="#tab_Th">ตัวอักษร ค</a>  ปุ่มเทียบเคียง เมื่อแตะปุ่มนี้จะปรากฎข้อพระสูตรในหน้าที่กำลังเปิดอยู่ให้เลือกเพื่อเทียบเคียงภาษาระหว่าง</p>
		  <p style="padding-left:130px">ภาษาไทยกับภาษาบาลี </p>
			<p align="center"><img src="/images/manual/tab7.png" alt="" width="200" height="148" /> </p>
		  <p style="padding-left:70px"><a name="Th4" href="#tab_Th">ตัวอักษร ง</a>  ปุ่มเปลี่ยนภาษา 
          แตะที่ปุ่มนี้จะสลับระหว่างภาษาไทยกับภาษาบาลีในหน้าล่าสุดที่เปิดอ่าน</p>
		  <p style="padding-left:70px"><a name="Th5" href="#tab_Th">ตัวอักษร จ</a>  ปุ่มจดจำ เมื่อแตะปุ่มนี้จะปรากฎข้อในหน้าที่กำลังเปิดอยู่ให้เลือกบันทึก 
          หลังจากนั้นจะปรากฎช่อง
		  <p style="padding-left:130px">แตะที่ช่องจะมีแป้นพิมพ์ปรากฎ ให้บันทึกข้อความลงไป แล้วแตะปุ่มบันทึก
		  <p style="padding-left:70px">
		  <p align="center"><img src="/images/manual/tab8.png" />    
<p ><a name="tab12"href="#tab">หมายเลข 12</a>ปุ่มดูรายการจดจำ คือ ปุ่มที่เรียกดูรายการที่ได้จดบันทึกไว้แล้ว  ซึ่งจะแยกข้อมูลตามลักษณะภาษา สามารถแตะเลือก</p>
		  <p style="padding-left:70px">ภาษาด้านบนแล้วสามารถแตะที่ข้อนั้นเพื่ออ่านอีกครั้ง</p>
			<p >&nbsp;</p>
			<p align="center"><img src="/images/manual/tab5.png" /></p>
			<p >&nbsp;</p>
<p ><a name="tab13"href="#tab">หมายเลข 13</a> ปุ่มข้อมูลส่วนตัว เมื่อแตะปุ่มจะปรากฎหน้าจอข้อมูลส่วนตัว สามารถนำเข้าหรือส่งออกข้อมูล</p>
		  <p style="padding-left:70px" >รายการบันทึกและประวัติการค้นหาไว้ใน SD การ์ดได้</p>
			<p>&nbsp;</p>
			<p align="center"><img src="/images/manual/tab4.png" /></p>
     <p style="float: right;"><a href=#tab><b>กลับไปยังรูป</b></a></p>
			<p >&nbsp;</p>
<p><a name="tab14"href="#tab">หมายเลข 14</a> ปุ่มค้นหา เมื่อแตะปุ่มนี้จะแสดงหน้าจอค้นหา ซึ่งมีวิธีการใช้งานดังนี้</p>
		  <li> พิมพ์ข้อความที่ต้องการค้นหาลงไปในช่องและเลือกภาษาที่ต้องการค้นหา แล้วแตะปุ่มค้นหาก็จะปรากฎหน้าจอให้เลือกหมวดพระไตรปิฎก</p>
			<p>ที่ต้องการค้น แตะปุ่มหมวดที่ต้องการค้นให้เป็นเครื่องหมายถูกสีเขียวแล้วแตะปุ่มตกลง ก็จะปรากฎหน้าจอข้อมูลทั้งหมดที่มีคำที่ค้นหา</p>
			<p>(อธิบายเกี่ยวกับหน้าจอแสดงผลการค้นหาเพิ่มเติมด้านล่าง)</p>
		  <li> นอกจากนี้หน้าจอจะแสดงประวัติการค้นหาที่เคยค้นหาทั้งหมดด้วย ซึ่งสามารถเรียงลำดับประวัติการค้นหาโดยการแตะปุ่มหมายเลข 1
		  <li>เมื่อแตะปุ่มรายการประวัติค้นหาค้างไว้ จะปรากฎข้อความบอกจำนวนครั้งการเรียกดู และปุ่มลบข้อความนั้น
  			<p>&nbsp;</p>
  			<p align="center"><img src="/images/manual/tab2.png"  /><br /></p>
  			<p>&nbsp;</p>
			<p align="center"><img src="/images/manual/tab3.png"  /> </p>
		  <li>หน้าจอแสดงข้อมูลค้นหา จอจะปรากฎ หมวดของไตรปิฎกให้เลือก จะบอกจำนวนหน้าและจำนวนพระสูตรที่ปรากฎในเรื่องที่ค้นหา
  			<p>สามารถแตะปุ่มเลือกข้อที่ต้องการศึกษาเพื่ออ่าน แต่หากแตะปุ่มค้างไว้ก็จะปรากฎข้อความขวามือดังรูปข้างบน ประกอบไปด้วยปุ่มดังนี้   
			<p style="padding-left:15px"><b>- ยังไม่ได้อ่าน</b> คือ ให้เครื่องจำไว้ว่าพระสูตรข้อนี้ยังไม่ได้อ่าน</p>
			<p style="padding-left:15px"><b>- ยังไม่ได้อ่านทั้งหมด</b> คือ ให้เครื่องจำไว้ว่าพระสูตรทั้งหมดในหน้านี้ยังไม่ได้อ่าน</p>
			<p style="padding-left:15px"><b>- จดจำ</b> คือ เป็นการบันทึกพระสูตรข้อนี้ไว้ เมื่อแตะปุ่มนี้จะปรากฏหน้าจอให้บันทึกข้อความเพื่อจำลงไป</p>
			<p style="padding-left:15px"><b>- ลบรายการจดจำ</b> คือ ลบรายการที่จดบันทึกไว้</p>
			<p style="padding-left:15px"><b>- ติดดาว</b> คือ การทำเครื่องหมายสัญลักษณ์รูปดาวหลังพระสูตรข้อนั้น เพื่อง่ายต่อการเรียกอ่าน</p>
		  <li>เมื่อแตะปุ่มเมนูหมายเลข 1 จะปรากฎเมนูแถบสีขาว โดยมีเครื่องมือดังนี้
  			<p></p>
 			<p style="padding-left:15px"><b>- ปุ่มขยายและย่อข้อความ</b></p>
  		<p style="padding-left:15px"><b>- ปุ่มไปที่ตำแหน่ง</b> คือ เมื่อแตะปุ่มนี้จะปรากฎหน้าจอให้ไปที่ผลลัพธ์ ตำแหน่งที่ต้องการอ่านจึงกรอกหมายเลขตำแหน่งที่ต้องการอ่านลงไป</p>
  			<p style="padding-left:24px">โปรแกรมจะค้นหาตำแหน่งภายในหน้าที่กำลังเปิดอยู่</p>
  			<p style="padding-left:15px"><b>- ปุ่มดูรายการจดจำ</b> คือ ปุ่มที่เรียกดูรายการที่ได้บันทึกไว้แล้ว</p>
        <p align="center">&nbsp;</p>
        <p align="right"><a href="#Android"><img src="/images/top.png" border="0"/></a></p>