<ul style="list-style-type: none;">
  <li style="display: block; float: left; padding-left: 10px;">
    <%= link_to 'iPad', doc_path(:doc => 'ipad') %>
  </li>
  <li style="display: block; float: left; padding-left: 10px;">
    <%= link_to 'iPhone', doc_path(:doc => 'iphone') %>
  </li>
  <li style="display: block; float: left; padding-left: 10px;">
    <%= link_to 'Android', doc_path(:doc => 'android') %>
  </li>
</ul>
<br/>
<hr/>

