		  <p id="h1" style="margin-bottom: 30px;"><a name="ipad" id="ipad">การใช้งานบน iPad</a></p>
		  <p style="padding-left:10px">หน้าจอหลักของโปรแกรม</p>
		  
          <p  align="center"><a name="map"><img src="/images/manual/001.png" border="0" alt="" usemap="#planetmap"/></a>
            <map name="planetmap">
              <area shape="circle" coords="21,55,14" href="#no1" alt="Venus" />
              <area shape="circle" coords="109,15,14" href="#no2" alt="Venus" />
              <area shape="circle" coords="259,14,14" href="#no3" alt="Venus" />
              <area shape="circle" coords="446,13,14" href="#no4" alt="Venus" />
              <area shape="circle" coords="507,112,14" href="#no5" alt="Venus" />
              <area shape="circle" coords="506,286,14" href="#no6" alt="Venus" />
              <area shape="circle" coords="21,286,14" href="#no7" alt="Venus" />
              <area shape="circle" coords="66,629,14" href="#no8" alt="Venus" />
              <area shape="circle" coords="95,628,14" href="#no9" alt="Venus" />
              <area shape="circle" coords="406,630,14" href="#no10" alt="Venus" />
              <area shape="circle" coords="436,629,14" href="#no11" alt="Venus" />
              <area shape="circle" coords="467,629,14" href="#no12" alt="Venus" />
            </map>
          </p>
          <p></p>
		  <p><a name="no1" href="#map"> หมายเลข 1</a> คือ ปุ่มเลือก เมื่อปุ่มเลือกจะปรากฎ
          พระไตรปิฎกทั้งหมด ซึ่งประกอบด้วย พระวินัยปิฎก พระสุตตันตปิฎก พระอภิธรรมปิฎก </p>
          <p style="padding-left:60px"> ให้ได้เลือกอ่าน ดังภาพข้างล่าง </p>
		  <p>&nbsp;</p>
		  <p align="center"><img src="/images/manual/002.png" /></p>
		  <p></p>
		  <p><a name="no2" href="#map">หมายเลข 2</a> คือ ปุ่มย้อนกลับ และไปหน้าถัดไป</p>
		  <p><a name="no3" href="#map">หมายเลข 3</a> คือ รายละเอียดหน้าที่กำลังเปิดอ่าน ได้แก่หมวดของพระไตรปิฎก หน้าที่ เล่มที่และภาษาที่แสดงผลอยู่</p>
		  <p><a name="no4" href="#map">หมายเลข 4</a> คือ ปุ่มย่อ ขยายหน้าจอ</p>
		  <p><a name="no5" href="#map">หมายเลข 5</a> คือ ปุ่มเลื่อนดูหน้าที่ต้องการอ่าน โดยสามารถเลื่อนไปมาได้ทุกหน้าของพระไตรปิฎก</p>
		  <p><a name="no6" href="#map">หมายเลข 6</a> คือ แตะบริเวณเส้นประเป็นการเปิดดูหน้าถัดไป</p>
		  <p><a name="no7" href="#map">หมายเลข 7</a> คือ แตะบริเวณเส้นประเป็นการเปิดดูหน้าก่อนหน้า</p>
		  <p><a name="no8" href="#map">หมายเลข 8</a> คือ ปุ่มเลือกอ่าน ปุ่มนี้สามารถเลือกได้ 2 กรณี คือ 1.อ่านในหน้าที่ต้องการอ่าน 2.อ่านข้อที่ต้องการอ่าน เมื่อเลือกจะปรากฎ		  
		  <p style="padding-left:80px">ช่องให้กรอกหมายเลข(จอจะปรากฎแป้นพิมพ์)ให้เลือกตามต้องการ แล้วเลือกปุ่มตกลง</p>
		  <p>&nbsp;</p>		  
          <p style="float: right;"><a href=#map><b>กลับไปยังรูป</b></a></p>
		  <p>&nbsp;</p>
		  <p align="center"><img src="/images/manual/003.png"  /></p>
		  <p>&nbsp;</p>
		  <p><a name="no9" href="#map">หมายเลข 9</a> คือ ปุ่มเปลี่ยนภาษาซึ่งมี 2 ภาษา ได้แก่ ภาษาไทยและภาษาบาลี ประกอบด้วย 2 ปุ่มให้เลือก คือ</p>
		  <p style="padding-left:60px"> 1.ปุ่มสลับภาษา เมื่อแตะปุ่มจะสลับไปมาระหว่าง ภาษาไทยกับภาษาบาลี ซึ่งปุ่มนี้จะสลับภาษาไปยังหน้าล่าสุดที่เปิด</p>
		  <p style="padding-left:60px">2.ปุ่มเทียบเคียง เมื่อแตะปุ่มจะปรากฎข้อในหน้านั้นให้เลือกแปล หลังจากนั้นจะมีหน้าจอ 2 ฝั่งเปรียบเทียบระหว่างภาษาไทย</p>
		  <p style="padding-left:60px">กับภาษาบาลี ซึ่งหน้าจอเทียบเคียง มีเครื่องมือดังนี้</p>
		  <p style="padding-left:60px">&nbsp;</p>
		  <p align="center"><img src="/images/manual/005.png"/></p>
		  <p align="center"><img src="/images/manual/009.png" border="0" alt="" usemap="#map2"/></a>
            <map name="map2">
              <area shape="circle" coords="34,23,14" href="#noA" alt="Venus" />
              <area shape="circle" coords="234,23,14" href="#noA" alt="Venus" />
              <area shape="circle" coords="103,23,14" href="#noB" alt="Venus" />
              <area shape="circle" coords="299,24,14" href="#noB" alt="Venus" />
              <area shape="circle" coords="362,24,14" href="#noC" alt="Venus" />
              <area shape="circle" coords="159,23,14" href="#noC" alt="Venus" />
			  <area shape="circle" coords="189,23,14" href="#noD" alt="Venus" /> 
              <area shape="circle" coords="392,23,14" href="#noD" alt="Venus" />

            </map>
          </p>
		  <p>&nbsp;</p>          
          <p style="float: right;"><a href=#map><b>กลับไปยังรูป</b></a></p>
		  <p style="padding-left:113px;">&nbsp;</p>
          <p style="padding-left:70px"><a name="noA">ตัวอักษร A</a>  ปุ่มย้อนกลับและไปหน้าถัดไป ซึ่งแตะปุ่มนี้ด้านใดก็จะเปลี่ยนหน้าเฉพาะด้านนั้น</p>
		  <p style="padding-left:70px"><a name="noB">ตัวอักษร B</a> รายละเอียดหน้าที่กำลังเปิดอ่าน ได้แก่หมวดของพระไตรปิฎก ภาษา เล่มที่ และหน้าที่ที่แสดงผลอยู่ </p>
		  <p style="padding-left:70px"><a name="noC">ตัวอักษร C</a> ปุ่มเทียบเคียง เมื่อแตะปุ่มนี้ฝั่งใดก็จะปรากฎข้อที่มีในหน้าฝั่งนั้นให้เลือก เมื่อเลือกข้อใดหน้าจออีกฝั่งจะแสดงผล</p>
		  <p style="padding-left:70px">&nbsp;</p>
		  <p align="center"><img src="/images/manual/010.png" /></p>
		  <p>&nbsp;</p>
		  <p style="padding-left:70px"><a name="noD">ตัวอักษร D</a>  ปุ่มย้อนกลับ เมื่อแตะปุ่มนี้ฝั่งภาษาใดก็จะกลับไปยังหน้านั้น</p>
          <p>&nbsp;</p>
<p><a name="no10" href="#map">หมายเลข 10</a> คือ ปุ่มบันทึก เมื่อแตะปุ่มนี้ จะปรากฎข้อพระไตรปิฎกในหน้านั้นให้เลือก แล้วจะปรากฎหน้าจอให้จดบันทึกข้อความ</p>
		  <p style="padding-left:70px">(จอจะปรากฏแป้นพิมพ์)หลังจากนั้นแตะปุ่มบันทึกด้านบนขวามือ</p>
<p>&nbsp;</p>
		  <p><img src="/images/manual/006.png" /></p>
		  <p>&nbsp;</p>
          <p style="float: right;"><a href=#map><b>กลับไปยังรูป</b></a></p>
		  <p>&nbsp;</p>          
		  <p><a name="no11" href="#map">หมายเลข 11</a> คือ รายการบันทึก เมื่อแตะปุ่มนี้จะปรากฎข้อพระไตรปิฎกที่บันทึกไว้ทั้งหมดให้เรียกอ่านได้ </p>
		  <p style="padding-left:105px">และเมื่อแตะปุ่มดินสอจะสามารถแก้ไขข้อความที่บันทึกได้ </p>
          
		  <p>&nbsp;</p>
		  <p align="center"><img src="/images/manual/007.png"/></p>
		  <p>&nbsp;</p>
          <p style="float: right;"><a href=#map><b>กลับไปยังรูป</b></a></p>
		  <p>&nbsp;</p>          
		  <p><a name="no12" href="#map">หมายเลข 12</a> ปุ่มค้นหา จะประกอบด้วย</p>
		  <p style="padding-left:60px">1.ปุ่มบนซ้าย คือ ปุ่มเปลียนภาษาที่จะค้นหา แตะปุ่มนี้จะสลับภาษาไปมา</p>
		  <p style="padding-left:60px">2.ปุ่มช่องว่างด้านบนใช้สำหรับค้นหาคำในพระไตรปิฎก&nbsp;เมื่อแตะปุ่มนี้จะปรากฏแป้นพิมพ์ โดยการพิมพ์ข้อความที่ต้องการค้นหาแล้วแตะ</p>
		  <p style="padding-left:60px">ปุ่มค้นหาที่แป้นพิมพ์ก็จะปรากฎหมวด เล่มที่ หน้าที่ในพระไตรปิฎกที่ค้นหาในช่องด้านล่าง</p>
		  <p style="padding-left:60px">3.ปุ่มประวัติค้นหา เมื่อแตะปุ่มนี้จะปรากฎข้อความที่เคยค้นหาทั้งหมด</p>
		  <p>&nbsp;</p>
		  <p><img src="/images/manual/008.png"/></p>
		  <p>&nbsp;</p>
		  <p align="right"><a href="#ipad"><img src="/images/top.png" border="0"/></a></p>
<p>&nbsp;</p>