		 <p id="h1" style="margin-bottom: 30px;"><a name="ipod" id="ipod">การใช้งานบน iPhone และ iPod</a></p>
		  <p style="padding-left:10px">1.หน้าจอหลักของโปรแกรม จะประกอบด้วย พระไตรปิฎกทั้งหมดให้เลือกอ่าน โดยการเลื่อนขึ้นลงแล้วแตะที่เล่มที่ต้องการอ่านหรือแตะที่</p>
		  <p>ปุ่มอ่านด้านบนซ้ายก็จะปรากฎหน้าเนื้อหา นอกจากนี้ปุ่มด้านขวามือจะมีคำว่า วิ.คือพระวินัยปิฎก สุต.คือพระสุตตันตปิฎก อภิ.คือพระอภิธรรมปิฎก</p>
		  <p>ต้องการดูหมวดใดก็แตะที่ปุ่มหมวดนั้น		  </p>
		  <p>&nbsp;</p>
		  <p align="center"><a name="MapiPhone"><img src="/images/manual/ipod2.png" border="0" alt="" usemap="#MapiPhone"/></a>
		    <map name="MapiPhone" id="MapiPhone">
		      <area shape="circle" coords="470,14,12" href="#iPod1" alt="" />
		      <area shape="circle" coords="160,12,12" href="#iPod1" alt="" />
		      <area shape="circle" coords="16,55,12" href="#iPod2" alt="" />
		      <area shape="circle" coords="328,56,12" href="#iPod2" alt="" />
		      <area shape="circle" coords="301,55,12" href="#iPod3" alt="" />
		      <area shape="circle" coords="615,57,12" href="#iPod3" alt="" />
		      <area shape="circle" coords="332,191,12" href="#iPod4" alt="" />
		      <area shape="circle" coords="14,199,12" href="#iPod4" alt="" />
		      <area shape="circle" coords="304,189,12" href="#iPod5" alt="" />
		      <area shape="circle" coords="616,191,12" href="#iPod5" alt="" />
		      <area shape="circle" coords="79,418,12" href="#iPod6" alt="" />
		      <area shape="circle" coords="159,418,12" href="#iPod7" alt="" />
		      <area shape="circle" coords="234,418,12" href="#iPod8" alt="" />
              <area shape="circle" coords="371,418,12" href="#iPod9" alt="" />
              <area shape="circle" coords="560,419,12" href="#iPod9" alt="" />
              <area shape="circle" coords="409,419,12" href="#iPod10" alt="" />
              <area shape="circle" coords="523,420,12" href="#iPod10" alt="" />
              <area shape="circle" coords="437,420,12" href="#iPod11" alt="" />
              <area shape="circle" coords="465,419,12" href="#iPod12" alt="" />
              <area shape="circle" coords="494,419,12" href="#iPod13" alt="" />
              
	        </map>
	      <img src="/images/manual/ipod1.png" /></p>
		  <p>&nbsp;</p>
		  <p>2.หลังจากแตะปุ่มเลือกเล่มที่อ่านแล้ว จะปรากฏหน้าจอดังรูปด้านล่างซ้ายมือ และเมื่อแตะบริเวณกลางจอจะปรากฎแถบเครื่องมือ</p>
		  <p>รูปด้านล่างขวามือมาแทน การแตะบริเวณกลางจอจะสามารถสลับแถบเครื่องมือ 2 แถบนี้ หน้าจอนี้จะประกอบไปด้วยปุ่มต่างๆ ดังนี้</p>
	<p><a name="iPod1" href="#MapiPhone">หมายเลข 1</a> รายละเอียดหน้าที่กำลังเปิดอ่าน ได้แก่หมวดของพระไตรปิฎก หน้าที่ เล่มที่และภาษาที่แสดงผลอยู่</p>
	<p><a name="iPod2" href="#MapiPhone">หมายเลข 2</a> ปุ่มเปลี่ยนภาษา โดยการแตะที่ปุ่มก็จะสลับไปมาระหว่างภาษาไทยกับภาษาบาลี</p>
	<p><a name="iPod3" href="#MapiPhone">หมายเลข 3</a> ปุ่มเลือก เมื่อแตะปุ่มนี้จะกลับไปยังหน้าจอหลักของโปรแกรมเพื่อให้เลือกเล่มที่เราต้องการอ่าน</p>
	<p><a name="iPod4" href="#MapiPhone">หมายเลข 4</a> แตะบริเวณเส้นประเป็นการเปิดดูหน้าก่อนหน้า</p>
	<p><a name="iPod5" href="#MapiPhone">หมายเลข 5</a> แตะบริเวณเส้นประเป็นการเปิดดูหน้าถัดไป</p>
	<p><a name="iPod6" href="#MapiPhone">หมายเลข 6</a> ปุ่มอ่าน </p>
	<p><a name="iPod7" href="#MapiPhone">หมายเลข 7</a> ปุ่มค้นหา เมื่อแตะที่ช่องข้างบนจะปรากฎแป้นพิมพ์	พิมพ์ข้อความที่ต้องการแล้วแตะปุ่มค้นหาตรงแป้นพิมพ์ ก็จะปรากฎหมวด</p>
		  <p style="padding-left:62px"> เล่มที่ หน้าที่ของพระไตรปิฎก ซึ่งมีคำที่ค้นหา ส่วนด้านบนขวาเป็นปุ่มประวัติค้นหาเมื่อแตะปุ่มนี้จะปรากฎคำที่เคยได้ค้นหา</p>
		  <p style="padding-left:62px">และแตะที่คำเหล่านั้นเพื่อดูอีกครั้งได้</p>
		  <p>&nbsp;</p>
		  <p align="center"><img src="/images/manual/ipod3.png" /></p>
		  <p>&nbsp;</p>
          <p style="float: right;"><a href=#MapiPhone><b>กลับไปยังรูป</b></a></p>
          <p style="padding-left:600px">&nbsp;</p>
		  <p><a name="iPod8" href="#MapiPhone">หมายเลข 8</a> ปุ่มรายการบันทึก แตะปุุ่มจะปรากฎหน้าที่เคยบันทึกไว้ และเมื่อแตะปุ่มดินสอจะสามารถแก้ไขข้อความที่บันทึกได้ </span></p>
<p>&nbsp;</p>
		  <p align="center"><img src="/images/manual/ipod4.png" /></p>
		  <p>&nbsp;</p>
		  <p><a name="iPod9" href="#MapiPhone">หมายเลข 9</a> ปุ่มย้อนกลับและไปหน้าถัดไป</p>
		  <p><a name="iPod10" href="#MapiPhone">หมายเลข 10</a> ปุ่มย่อขยายตัวอักษรหน้าจอ </p>
		  <p><a name="iPod11" href="#MapiPhone">หมายเลข 11</a>  ปุ่มเลือกอ่าน ปุ่มนี้สามารถเลือกได้ 2 กรณี คือ</p>
<p style="padding-left:62px"> 1.อ่านในหน้าที่ต้องการอ่าน </p>
		  <p style="padding-left:62px">2.อ่านข้อที่ต้องการอ่าน เมื่อเลือกจะปรากฎ ช่องให้กรอกหมายเลข(จอจะปรากฎแป้นพิมพ์)ให้เลือกตามต้องการ แล้วเลือกปุ่มตกลง</p>
<p>&nbsp;</p>
		  <p align="center"><img src="/images/manual/ipod5.png" /></p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
<p><a name="iPod12" href="#MapiPhone">หมายเลข 12</a> คือ ปุ่มเปลี่ยนภาษาซึ่งมี 2 ภาษา ได้แก่ ภาษาไทยและภาษาบาลี ประกอบด้วย 2 ปุ่มให้เลือก คือ</p>
<p style="padding-left:60px"> 1.ปุ่มสลับภาษา เมื่อแตะปุ่มจะสลับไปมาระหว่าง ภาษาไทยกับภาษาบาลี ซึ่งปุ่มนี้จะสลับภาษาไปยังหน้าล่าสุดที่เปิด</p>
<p style="padding-left:60px">2.ปุ่มเทียบเคียง เมื่อแตะปุ่มจะสลับไปมาระหว่าง ภาษาไทยกับภาษาบาลีเช่นกัน โดยจะเจาะจงให้เลือกข้อที่จะแปลในหน้าที่เปิด</p>
<p>&nbsp;</p>
<p align="center"><img src="/images/manual/ipod6.png"/></p>
<p>&nbsp;</p>
<p><a name="iPod13" href="#MapiPhone">หมายเลข 13</a> คือ ปุ่มบันทึก เมื่อแตะปุ่มนี้ จะปรากฎข้อพระไตรปิฎกในหน้านั้นให้เลือก แล้วจะปรากฎหน้าจอให้จดบันทึกข้อความ</p>
<p style="padding-left:62px">(จอจะปรากฏแป้นพิมพ์)หลังจากนั้นแตะปุ่มบันทึกด้านบนขวามือ</p>
<p>&nbsp;</p>
<p align="center"><img src="/images/manual/ipod7.png"/></p>
<p align="center">&nbsp;</p>
<p align="right"><a href="#ipod"><img src="/images/top.png" border="0"/></a></p>