<p>
ผู้พัฒนาโปรแกรม E-Tipitaka คือ ดร. สุธี สุดประเสริฐ จบการศึกษาในระดับปริญญาเอก 
ด้านวิศวกรรมคอมพิวเตอร์ จากมหาวิทยาลัยเกษตรศาสตร์ในปี พ.ศ. ๒๕๕๓
</p>

<p>
จุดเริ่มต้นการพัฒนาโปรแกรมเริ่มต้นจาก ช่วงประมาณกลางปี พ.ศ. ๒๕๕๒ ผู้พัฒนาได้ดูรายการโทรทัศน์ทางอินเตอร์ช่องหนึ่ง 
ที่ทางรายการได้เชิญพระอาจารย์คึกฤทธิ์มากล่าวถึงความสำคัญของพุทธวัจนะและ ตอบปัญหาด้วยพุทธวัจนะ 
จึงเกิดความศรัทธาและเห็นด้วยกับแนวทางนี้ ผู้พัฒนาได้นำครอบครัวเข้ามาศึกษาพุทธวัจนะที่วัดนาป่าพงและได้รับโปรแกรม 
คอมพิวเตอร์สืบค้นพุทธวัจนะจากที่วัดไปศึกษาที่บ้าน แต่โปรแกรมคอมพิวเตอร์ที่ได้รับมา มีส่วนติดต่อกับผู้ใช้ซับซ้อน 
ยากต่อการใช้งาน มีปัญหาเรื่องฟอนต์ภาษาบาลี และ ยังสืบค้นได้ช้า ผู้พัฒนาจึงคิดว่าน่าจะทำโปรแกรมขึ้นมาใหม่ได้โดยอาศัยความรู้ด้านการเขียน 
ตนเรียนมา แต่ก็ยังไม่ได้เริ่มทำทันทีเนื่องจากอยากจะบวชอยู่ที่วัดแห่งนี้สักระยะ หนึ่งก่อนเพื่อประพฤติพรหมจรรย์ตามพุทธวัจนะ 
และดูความต้องการการสืบค้นพุทธวัจนะจากพระไตรปิฎกของพระในวัด
</p>

<p>
ผู้พัฒนาได้บวชที่วัดนาป่าพงในช่วงปลายปี พ.ศ. ๒๕๕๒ เป็นเวลา ๓ เดือน หลังจากลาสิกขาแล้ว 
ได้ติดต่อกับคณะพระสงฆ์ที่วัดนาป่าพงเพื่อสร้างโปรแกรมสืบค้นพระ ไตรปิฎกขึ้นมา 
โดยสร้างส่วนติดต่อกับผู้ใช้งานและส่วนประกอบของโปรแกรมตามความต้องการของ 
ผู้ใช้งานจริง โปรแกรมสืบค้นพระไตรปิฎกที่ทำสำเร็จครั้งแรกในเดือนมีนาคม  
พ.ศ. ๒๕๕๓ คือ E-tipitaka 1.0 หลังจากได้ผ่านการทดลองใช้และแก้ไขอีกระยะหนึ่ง
พระอาจารย์คึกฤทธิ์ ฯ จึงได้นำมาแจกจ่ายให้กับญาติโยม
</p>

<p>
ชื่อ โปรแกรม E-tipitaka มาจากคำว่า tipitaka มาจากภาษาบาลี คือ ti แปลว่า สาม และคำว่า pitaka 
แปลว่า ตะกร้า ซึ่งก็คือ พระไตรปิฎก นั่นเองโปรแกรม E-tipitaka สามารถสืบค้นพระไตรปิฎกฉบับบาลีสยามรัฐ 
ซึ่งเป็นข้อมูลที่เก่าแก่ที่สุดได้ทั้งภาษาไทยและภาษาบาลี โดยสามารถเทียบเคียงทั้งสองภาษาได้ในเวลาเดียวกัน 
วิธีการสืบค้น ทำได้โดยการป้อนคำที่ต้องการค้นหาได้ครั้งละหลายคำ และหากพิมพ์คำไม่ถูกต้องจะมีการแนะนำคำที่สะกดใกล้เคียงให้ 
ซึ่งเป็นวิธีการเดียวกับ search engine เช่น google ที่นิยมใช้ในปัจจุบัน
</p>

