<h3>E-Tipitaka คืออะไร?</h3>
<p>E-Tipitaka คือ โปรแกรมสำหรับค้นหาและเทียบเคียงพุทธวจนจากพระไตรปิฎก 
โดยเน้นเรื่องความรวดเร็ว และ ถูกต้องเป็นสำคัญ อีกทั้งโปรแกรม E-Tipitaka 
สามารถใช้งานได้บนหลายระบบปฏิบัติการ อาทิเช่น Windows, Linux, Mac OS, Android และ iOS (iPhone, iPad, iPod touch)
</p>
<p>
E-Tipitaka ทุกรุ่นเป็นโปรแกรมเสรีและเปิดเผยรหัส ตามสนธิสัญญา <%= link_to 'GPL v2.0', 'http://www.gnu.org/licenses/gpl-2.0.html' %> 
ซึ่งหมายความว่าผู้ใช้ทุกคนมีสิทธิในการใช้งานไม่ได้ต้องเสียค่าใช้จ่ายใดๆ ทั้งสิ้น
และ สามารถเข้าถึงรหัสของโปรแกรม เพื่อแก้ไขหรือนำโปรแกรมไปพัฒนาต่อได้อย่างเสรี 
</p>
<br/>
<h3>ทำไมต้องค้นหาและเทียบเคียงพุทธวจน?</h3>
<p>จาก ๒ ใน ๑๐ พระสูตร ที่สนับสนุนให้ชาวพุทธต้องศึกษา แต่คำสอนจากพระพุทธเจ้าเท่านั้น คือ </p>
<p><strong>ค้นหา:</strong> "ภิกษุทั้งหลาย ! ส่วนสุตตันตะเหล่าใดที่เป็นคำของตถาคต เป็นข้อความลึก มีความหมายซึ้ง 
เป็นชั้นโลกุตตระ ว่าเฉพาะด้วยเรื่องสุญญาตา, เมื่อมีผู้นำสุตตันตะเหล่านั้นมากล่าวอยู่; เธอย่อมฟังด้วยดี 
ย่อมเงี่ยหูฟัง ย่อมตั้งจิตเพื่อจะรู้ทั่วถึง และย่อมสำคัญว่าเป็นสิ่งที่ตนควรศึกษาเล่าเรียน จึงพากันเล่าเรียนไต่ถาม 
ทวนถามแก่กันและกันอยู่ว่า "ข้อนี้เป็นอย่างไร? มีความหมายกี่นัย?" ดังนี้. ด้วยการทำดังนี้ เธอย่อมเปิดธรรมที่ถูกปิดไว้ได้. 
ธรรมที่ยังไม่ปรากฎเธอก็ทำให้ปรากฎได้, ความสงสัยในธรรมหลายประการที่น่าสงสัยเธอก็บรรเทาลงได้" 
(<%= link_to 'ทุก. อํ. ๒๐/๖๘/๒๙๒',
     read_path(:language => 'thai', :volume => 20, :number => 68) %>) </p>
<div><strong>เทียบเคียง:</strong>
  "ภิกษุทั้งหลาย ! ถ้าภิกษุในธรรมวินัยนี้กล่าวอย่างนี้ว่า 
  <div>...(๑) ข้าพเจ้าได้สดับรับมาเฉพาะพระพักตร์พระผู้มีพระภาค </div>
  <div>...(๒) ในอาวาสชื่อโน้น มีสงฆ์อยู่พร้อมด้วยพระเถระ พร้อมด้วยปาโมกข์ ข้าพเจ้าได้สดับมาเฉพาะหน้าสงฆ์นั้น </div>
  <div>...(๓) ในอาวาสชื่อโน้น มีภิกษุผู้เป็นเถระอยู่จำนวนมากเป็นพหูสูตร เรียนคำภีร์ ทรงธรรม ทรงวินัย ทรงมาติกา 
  ข้าพเจ้าได้สดับมาเฉพาะหน้าพระเถระเหล่านั้น</div>
  <div>...(๔) ในอาวาสชื่อโน้น มีภิกษุผู้เป็นเถระอยู่รูปหนึ่งเป็นพหูสูตร เรียนคำภีร์ ทรงธรรม ทรงวินัย 
  ทรงมาติกา ข้าพเจ้าได้สดับเฉพาะหน้าพระเถระรูปนั้น </div>
  <div>ว่า "นี้เป็นธรรม นี้เป็นวินัย นี้เป็นคำสอนของพระศาสดา"... </div>
  <div>เธอทั้งหลายยังไม่พึงชื่นชม ยังไม่พึงคัดค้านคำกล่าวนั้น พึงเรียนบทและพยัญชนะเหล่านั้นให้ดี 
  แล้วพึงสอบสวนลงในพระสูตร เทียบเคียงดูในวินัย ถ้าบทและพยัญชนะเหล่านั้น สอบลงไม่ได้ 
  เทียบเข้าในวินัยก็ไม่ได้... เธอทั้งหลายพึงทิ้งคำนั้นเสีย" 
  (<%= link_to 'จตุกฺก. อํ. ๒๑/๑๖๒/๑๘๐', 
       read_path(:language => 'thai', :volume => 21, :number => 162) %>) </div>
</div>
