<% @all_posts.each do |post| %>
  <div class="post_entry">
    <h3> <a name=<%="post_#{post.id}"%>><%= post.title %></a> </h3>
    <span class="post_date"> 
      วันที่ <%= post.created_at.strftime("%d/%m/%Y") %> 
    </span>
    <%= raw post.content %>
  </div>
<% end %>
