<ul class="links">
<% @links.each do |link| %>
  <% if !link.private %>
  <li><%= link_to(link.title, link.url, :target => '_blank', 
                                        :title => link.description) %></li>
  <% end %>
<% end %>
</ul>
